/** 头图上下移动的小按钮 */
.preface {
    width: 100%;
}
.preface-img {
    position: relative;
    background: url("../images/save-love-plan/preface.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.preface-btn {
    position: absolute;
    bottom: 100px;

    width: 80px;
    height: 80px;

    border-radius: 50%;

    background: url("../images/save-love-plan/preface-btn.png") no-repeat center center;

}
.preface-img img {
    width: 100%;
    height: 100%;
}
/** 头图上下移动的小按钮 */