/** 头图上下移动的小按钮 */
.preface {
    width: 100%;
}
.preface-img {
    position: relative;
    background: url("../images/save-love-plan/preface.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.preface-btn {
    position: relative;
    bottom: -88%;
    opacity: 1;

    width: .94rem;
    height: .94rem;

    border-radius: 50%;

    background: url("../images/save-love-plan/preface-btn.png") no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;

}
.preface-img img {
    width: 100%;
    height: 100%;
}
/** 头图上下移动的小按钮 */
/** preface icons and texts*/
.preface .preface-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fefdf8;
}

.preface .preface-icons .row {
    display: flex;
    justify-content: space-between;
    margin: 0 .4rem;
}
.preface .preface-icons .row:last-child {
    margin-bottom: .35rem;
}

.preface .preface-icons .row .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preface .preface-icons .row .item .item-icon {
    -webkit-background-size: cover;
    background-size: cover;
    width: .85rem;
    height: .85rem;
    margin-top: .35rem;
}

.preface .preface-icons .row:first-child .item:nth-child(1) .item-icon {
    background: url("../images/save-love-plan/preface-icon-top-01.png") no-repeat center center;
}
.preface .preface-icons .row:first-child .item:nth-child(2) .item-icon {
    background: url("../images/save-love-plan/preface-icon-top-02.png") no-repeat center center;
}
.preface .preface-icons .row:first-child .item:nth-child(3) .item-icon {
    background: url("../images/save-love-plan/preface-icon-top-03.png") no-repeat center center;
}
.preface .preface-icons .row:first-child .item:nth-child(4) .item-icon {
    background: url("../images/save-love-plan/preface-icon-top-04.png") no-repeat center center;
}

.preface .preface-icons .row:last-child .item:nth-child(1) .item-icon {
    background: url("../images/save-love-plan/preface-icon-bot-01.png") no-repeat center center;
}
.preface .preface-icons .row:last-child .item:nth-child(2) .item-icon {
    background: url("../images/save-love-plan/preface-icon-bot-02.png") no-repeat center center;
}
.preface .preface-icons .row:last-child .item:nth-child(3) .item-icon {
    background: url("../images/save-love-plan/preface-icon-bot-03.png") no-repeat center center;
}
.preface .preface-icons .row:last-child .item:nth-child(4) .item-icon {
    background: url("../images/save-love-plan/preface-icon-bot-04.png") no-repeat center center;
}
/** preface icons and texts*/


.bg {
    width: 100%;
    height: 60.53rem;
    background: url("../images/save-love-plan/bg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
}



/** module area */
.module {
    background-color: transparent;
}
/** module area */


/** split line */
.split-line {
    background: url("../images/save-love-plan/split-line.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: .19rem;
    margin-top: .1rem;
    margin-bottom: .4rem;
}
/** split line */


/** text indent */
.indent {
    text-indent: .52rem;
}
/** text indent */


/** module 01 area */
.module-01 .txt {
    padding: 0 .31rem;
    /*text-align: justify;*/
    letter-spacing: .02rem;
}
.module-01 .txt .indent:last-child {
    margin-top: .4rem;
}

.module-01 .circle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: .26rem;
    padding: .27rem 0;
}
.module-01 .circle .row {
    display: flex;
    align-items: center;
    margin-bottom: .43rem;
}
.module-01 .circle .row:last-child {
    margin-bottom: 0;
}

.module-01 .circle .row .icon {
    -webkit-background-size: cover;
    background-size: cover;
    width: 1.45rem;
    height: 1.44rem;
    margin-left: .15rem;
    margin-right: .65rem;
}

.module-01 .circle .row:first-child .icon {
    background: url("../images/save-love-plan/module01-circle-01.png") no-repeat center center;
}

.module-01 .circle .row:nth-child(2) .icon {
    background: url("../images/save-love-plan/module01-circle-02.png") no-repeat center center;
}

.module-01 .circle .row:last-child .icon {
    background: url("../images/save-love-plan/module01-circle-03.png") no-repeat center center;
}

.module-01 .circle .row .des .num {
    font-size: .26rem;
    font-weight: bold;
    color: #f83962;
}
.module-01 .circle .row:last-child .des .num {
    color: #539cff;
}
/** module 01 area */


/** module 02 area */

/** module 02 area */