/** 样式预设 */
* {
    padding: 0;
    margin: 0;
}

html, body {
    min-width: 750px;
    margin: 0 auto;
    font-family: "Microsoft YaHei";
}

.inner {
    width: 100%;
    height: 60.53rem;
    background: url("../images/save-love-plan/bg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
}

a {
    text-decoration: none;
}
    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
    }

ol, ul, li {
    list-style: none inside;
}

p {
    font-size: .26rem;
    color: #333;
}

