<!-- Start module 01: 单身原因 -->
<div class="module module-01">
    <div class="main"></div>
</div>
<!-- End module 01: 单身原因 -->

<!-- Start module 02: 错误做法导致后果 -->
<div class="module module-02">
    <div class="main">
        <div class="swiper-container tabs-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="item">
                        <div class="img">
                            <img src="images/custom-love/module02-pic01.png" alt="">
                        </div>
                        <div class="txt">
                            <p class="title">盲目付出</p>
                            <p class="para">
                                一味的投入时间、金钱、感情，却给对方徒增压力，导致自身价值感低下。
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img">
                            <img src="images/custom-love/module02-pic02.png" alt="">
                        </div>
                        <div class="txt">
                            <p class="title">贸然表白</p>
                            <p class="para">
                                在关系热度不到位的情况下，盲目表白，结果让自己的出境陷入被动和尴尬。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item">
                        <div class="img">
                            <img src="images/custom-love/module02-pic03.png" alt="">
                        </div>
                        <div class="txt">
                            <p class="title">盲目付出</p>
                            <p class="para">
                                目的性强烈，不顾及对方感受，频繁邀约导致对方反感。
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img">
                            <img src="images/custom-love/module02-pic04.png" alt="">
                        </div>
                        <div class="txt">
                            <p class="title">贸然表白</p>
                            <p class="para">
                                需求感爆棚，将对方作为生活全部，一有时间就缠着对方聊天。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="split-line"></div>
        <div class="tabs">
            <span class="active"></span>
            <span></span>
        </div>
    </div>
</div>
<!-- End module 02: 错误做法导致后果 -->

<!-- Start module 03: 橘子情感定制服务 -->
<div class="module module-03">
    <div class="main"></div>
</div>
<!-- End module 03: 橘子情感定制服务 -->

<!-- Start module 04: 成功案例 -->
<div class="module module-04">
    <div class="main">
        <div class="item">
            <div class="pic">
                <img src="images/custom-love/module04-pic01.png" alt="">
            </div>
            <div class="txt-group">
                <p class="topic">三个步骤直接从备胎升级男友逆袭成功</p>
                <p class="des">你其实也不差，凭什么只能做备胎。深陷友谊区的你难道就不想知道升级男友逆袭的秘诀吗？<a href="#">了解详情>>></a></p>
            </div>
        </div>
        <div class="item">
            <div class="pic">
                <img src="images/custom-love/module04-pic02.png" alt="">
            </div>
            <div class="txt-group">
                <p class="topic">没有追不到的女人，只有不会说话的老实人</p>
                <p class="des">等我再玩几年，找个老实人就嫁了。老实人招谁惹谁了，一堆的好人卡却没有一个真心的女人。<a href="#">了解详情>>></a></p>
            </div>
        </div>
        <div class="item">
            <div class="pic">
                <img src="images/custom-love/module04-pic03.png" alt="">
            </div>
            <div class="txt-group">
                <p class="topic">破解女神的废物测试，分分钟抱女神回家</p>
                <p class="des">你以为女人只会口是心非吗？太天真了，女人在爱情中有的是小心机和圈套，你都不能看透女人还怎么抱到女神？<a href="#">了解详情>>></a></p>
            </div>
        </div>
    </div>
</div>
<!-- End module 04: 成功案例 -->

<!-- Start module 05: 橘子优势 -->
<div class="module module-05">
    <div class="main">
        <div class="swiper-container tabs-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="img">
                        <img src="images/custom-love/module05-pic01.png" alt="">
                    </div>
                    <div class="txt">
                        <p>
                            橘子情感是国内首家情感行业开创者，开启国内实现情感自由，专业解决的先河。公司员工为国内情感行业首批一线工作者，经验丰富。
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img">
                        <img src="images/custom-love/module05-pic02.png" alt="">
                    </div>
                    <div class="txt">
                        <p>
                            由国内顶尖情感专家、进化心理学专家、、情感维稳师、女性心理侧写师、国家二级心理咨询师联合组成专注于两性情感解决方案的导师团队，提供面对面实战服务以及后期关系维稳服务
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img">
                        <img src="images/custom-love/module05-pic03.png" alt="">
                    </div>
                    <div class="txt">
                        <p>
                            橘子情感团队自成立以来，解决国内情感教育缺失问题，不仅是帮助每个人寻得真爱，更是让更多的人得到应有的情感教育，弥补国内教育缺失。
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img">
                        <img src="images/custom-love/module05-pic04.png" alt="">
                    </div>
                    <div class="txt">
                        <p>
                            专业导师团队根据每位学员制定私人方案，配备多名导师组成导师团队，全程跟进整个过程，把控全局，确保方案执行效果以及最终目标实现。
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img">
                        <img src="images/custom-love/module05-pic05.png" alt="">
                    </div>
                    <div class="txt">
                        <p>
                            橘子情感为解决您的情感问题，全天在线，周末无休不间断电话在线，随时为您提供服务。
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img">
                        <img src="images/custom-love/module05-pic06.png" alt="">
                    </div>
                    <div class="txt">
                        <p>
                            橘子情感在业内广受好评，截止目前已经帮助近10000对对用户寻得真爱，收获幸福。深受广大客户的认同和好评。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="split-line"></div>
        <div class="tabs">
            <span class="active"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- End module 05: 橘子优势 -->

<!-- Start module 06: 导师团队 -->
<div class="module module-06">
    <div class="main"></div>
</div>
<!-- End module 06: 导师团队 -->

<!-- Start module 07: 用户须知 -->
<div class="module module-07">
    <div class="main">
        <div class="txt-para">
            <i class="icon"></i>
            <p>你必须是一名能够独立做决定、有一定经济能力的正常成年人，无任何精神病史。</p>
        </div>
        <div class="txt-para">
            <i class="icon"></i>
            <p>我们的服务符合社会道德和底线，所以你必须是以婚姻或爱情为出发点。</p>
        </div>
        <div class="txt-para">
            <i class="icon"></i>
            <p>我们的专业服务足够你达成任何的爱情目标，所以请听从指挥，进退有度，举止得体。</p>
        </div>
        <div class="txt-para">
            <i class="icon"></i>
            <p>任何动机不纯者，立即终止服务。</p>
        </div>
    </div>
</div>
<!-- End module 07: 用户须知 -->

<!-- Start module 08: 服务流程 -->
<div class="module module-08">
    <div class="main">
        <div class="module-08-bg"></div>
    </div>
</div>
<!-- End module 08: 服务流程 -->