<div class="module module-01">
	<div class="main">
		<div class="top">
			<div class="left">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="item">
								<a href="##"><img src="images/emotion-forum/tl-img1.png" alt="橘子情感" /></a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="item">
								<a href="##"><img src="images/emotion-forum/tl-img2.png" alt="橘子情感" /></a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="item">
								<a href="##"><img src="images/emotion-forum/tl-img3.png" alt="橘子情感" /></a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
			<div class="right">
				<div class="top">
					<img src="images/emotion-forum/save-plan.png" alt="橘子情感--挽爱计划" />
				</div>
				<div class="bottom">
					<div class="biaoti">
						<img src="images/emotion-forum/shuxian.png" />
						<span>推荐干货</span>
					</div>
					<p>
						<a href="##">如何跟女友复联</a>
					</p>
					<p>
						<a href="##">如何赢取白富美</a>
					</p>
				</div>
			</div>
		</div>
		<div class="bottom">
			<div class="biaoti">
				<img src="images/emotion-forum/shuxian.png" />
				<span>情感问答</span>
			</div>
			<div class="anli">
				<div class="left">
					<img src="images/emotion-forum/1.jpg" alt="橘子情感--干货案例"/>
				</div>
				<div class="right">
					<h3>
						「挽回女人」断联拉黑之后，好的心态才是拯救爱情的致胜之道	
					</h3>
					<p>
						如果有人问我，挽回成功的秘诀是什么？那我会毫不犹豫的说：心态。心态决定行为，行为养成习惯， 习惯形成性格，性格决定结局。
					</p>
				</div>
			</div>
			<div class="anli">
				<div class="left">
					<img src="images/emotion-forum/2.jpg" alt="橘子情感--干货案例"/>
				</div>
				<div class="right">
					<h3>
						「挽回女人」断联拉黑之后，好的心态才是拯救爱情的致胜之道	
					</h3>
					<p>
						如果有人问我，挽回成功的秘诀是什么？那我会毫不犹豫的说：心态。心态决定行为，行为养成习惯， 习惯形成性格，性格决定结局。
					</p>
				</div>
			</div>
			<div class="anli">
				<div class="left">
					<img src="images/emotion-forum/3.jpg" alt="橘子情感--干货案例"/>
				</div>
				<div class="right">
					<h3>
						「挽回女人」断联拉黑之后，好的心态才是拯救爱情的致胜之道	
					</h3>
					<p>
						如果有人问我，挽回成功的秘诀是什么？那我会毫不犹豫的说：心态。心态决定行为，行为养成习惯， 习惯形成性格，性格决定结局。
					</p>
				</div>
			</div>
			<div class="anli">
				<div class="left">
					<img src="images/emotion-forum/4.jpg" alt="橘子情感--干货案例"/>
				</div>
				<div class="right">
					<h3>
						「挽回女人」断联拉黑之后，好的心态才是拯救爱情的致胜之道	
					</h3>
					<p>
						如果有人问我，挽回成功的秘诀是什么？那我会毫不犹豫的说：心态。心态决定行为，行为养成习惯， 习惯形成性格，性格决定结局。
					</p>
				</div>
			</div>
			<div class="anli">
				<div class="left">
					<img src="images/emotion-forum/5.jpg" alt="橘子情感--干货案例"/>
				</div>
				<div class="right">
					<h3>
						「挽回女人」断联拉黑之后，好的心态才是拯救爱情的致胜之道	
					</h3>
					<p>
						如果有人问我，挽回成功的秘诀是什么？那我会毫不犹豫的说：心态。心态决定行为，行为养成习惯， 习惯形成性格，性格决定结局。
					</p>
				</div>
			</div>
			<div class="anli">
				<div class="left">
					<img src="images/emotion-forum/6.jpg" alt="橘子情感--干货案例"/>
				</div>
				<div class="right">
					<h3>
						「挽回女人」断联拉黑之后，好的心态才是拯救爱情的致胜之道	
					</h3>
					<p>
						如果有人问我，挽回成功的秘诀是什么？那我会毫不犹豫的说：心态。心态决定行为，行为养成习惯， 习惯形成性格，性格决定结局。
					</p>
				</div>
			</div>
			<div class="anli">
				<div class="left">
					<img src="images/emotion-forum/7.jpg" alt="橘子情感--干货案例"/>
				</div>
				<div class="right">
					<h3>
						「挽回女人」断联拉黑之后，好的心态才是拯救爱情的致胜之道	
					</h3>
					<p>
						如果有人问我，挽回成功的秘诀是什么？那我会毫不犹豫的说：心态。心态决定行为，行为养成习惯， 习惯形成性格，性格决定结局。
					</p>
				</div>
			</div>
			<div class="anli">
				<div class="left">
					<img src="images/emotion-forum/8.jpg" alt="橘子情感--干货案例"/>
				</div>
				<div class="right">
					<h3>
						「挽回女人」断联拉黑之后，好的心态才是拯救爱情的致胜之道	
					</h3>
					<p>
						如果有人问我，挽回成功的秘诀是什么？那我会毫不犹豫的说：心态。心态决定行为，行为养成习惯， 习惯形成性格，性格决定结局。
					</p>
				</div>
			</div>
			<div class="anli">
				<div class="left">
					<img src="images/emotion-forum/9.jpg" alt="橘子情感--干货案例"/>
				</div>
				<div class="right">
					<h3>
						「挽回女人」断联拉黑之后，好的心态才是拯救爱情的致胜之道	
					</h3>
					<p>
						如果有人问我，挽回成功的秘诀是什么？那我会毫不犹豫的说：心态。心态决定行为，行为养成习惯， 习惯形成性格，性格决定结局。
					</p>
				</div>
			</div>
		</div>
	</div>
</div>