<!-- Start module 01 area -->
<div class="module module-01">

    <!-- Start module main area -->
    <div class="main">
    	<div class="icon-txt-group">
    		<img src="images/save-marriage/state-btn1.png" />
    		<p>
    			分居状态
    		</p>
    	</div>
    	<div class="icon-txt-group">
    		<img src="images/save-marriage/state-btn2.png" />
    		<p>
    			准备离婚
    		</p>
    	</div>
    	<div class="icon-txt-group">
    		<img src="images/save-marriage/state-btn3.png" />
    		<p>
    			离婚求复婚
    		</p>
    	</div>
    	<div class="icon-txt-group">
    		<img src="images/save-marriage/state-btn4.png" />
    		<p>
    			复婚后不和谐
    		</p>
    	</div>
	</div>
    <!-- End module main area -->
</div>
<!-- End module 01 area -->

<!-- Start module 02 area -->
<div class="module module-02">

    <!-- Start module main area -->
    <div class="main">
    	
	</div>
    <!-- End module main area -->
</div>
<!-- End module 02 area -->
	
<!-- Start module 03 area -->
<div class="module module-03">

    <!-- Start module main area -->
    <div class="main">
    	
	</div>
    <!-- End module main area -->
</div>
<!-- End module 03 area -->

<!-- Start module 04 area -->
<div class="module module-04">

    <!-- Start module main area -->
    <div class="main">
    	
	</div>
    <!-- End module main area -->
</div>
<!-- End module 04 area -->

<!-- Start module 05 area -->
<div class="module module-05">

    <!-- Start module main area -->
    <div class="main">
    	
	</div>
    <!-- End module main area -->
</div>
<!-- End module 05 area -->

<!-- Start module 06 area -->
<div class="module module-06">

    <!-- Start module main area -->
    <div class="main">
    	
	</div>
    <!-- End module main area -->
</div>
<!-- End module 06 area -->

<!-- Start module 07 area -->
<div class="module module-07">

    <!-- Start module main area -->
    <div class="main">
    	
	</div>
    <!-- End module main area -->
</div>
<!-- End module 07 area -->

<!-- Start module 08 area -->
<div class="module module-08">

    <!-- Start module main area -->
    <div class="main">
    	
	</div>
    <!-- End module main area -->
</div>
<!-- End module 08 area -->

<!-- Start module 09 area -->
<div class="module module-09">

    <!-- Start module main area -->
    <div class="main">
    	
	</div>
    <!-- End module main area -->
</div>
<!-- End module 09 area -->
