

/* Start stylesheet reset */
p {
  font-size: .26rem;
  line-height: .36rem;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
 /* End stylesheet reset */

/* Start module 01 area: 橘子情感 */
.module-01 .main {
  background: url("../images/about/module01-bg.png") no-repeat center center;
  width: 100%;
  height: 6.36rem;
  background-size: cover;
  position: relative;
}
.module-01 .main .para {
  position: absolute;
  text-indent: .52rem;
}
.module-01 .main .para:first-child {
  top: 0;
  right: 0;
  width: 3.28rem;
  padding-top: .26rem;
  padding-right: .24rem;
}
.module-01 .main .para:last-child {
  bottom: -.1rem;
  padding: 0 .24rem .26rem;
}
/* Start module 01 area: 橘子情感 */

/* Start module 02 area: 橘子情感发展历程 */
.module-02 .main .content {
  display: flex;
  justify-content: center;
}

.module-02 .main .content .mid.bg {
  padding-top: .1rem;
  width: .38rem;
  height: 16.76rem;
  background: url("../images/about/module02-icon03.png") no-repeat center center;
  background-size: cover;
}

.module-02 .main .content .left,
.module-02 .main .content .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.module-02 .main .content .left .item,
.module-02 .main .content .right .item {
  position: relative;
}
.module-02 .main .content .left .item {
  right: -.05rem;
}
  .module-02 .main .content .left .item:first-child {
    top: .9rem;
  }
  .module-02 .main .content .left .item:nth-child(2) {
    top: .5rem;
  }
  .module-02 .main .content .left .item:last-child {
    top: .15rem;
  }
.module-02 .main .content .right .item {
  left: -.4rem;
}
  .module-02 .main .content .right .item:first-child {
    top: -.15rem;
  }
  .module-02 .main .content .right .item:nth-child(2) {
    bottom: .7rem;
  }
  .module-02 .main .content .right .item:last-child {
    bottom: 1.26rem;
  }

.module-02 .main .content .left .item .txt-group,
.module-02 .main .content .right .item .txt-group {
  width: 2.98rem;
}

.module-02 .main .content .left .item .txt-group .year .icon,
.module-02 .main .content .right .item .txt-group .year .icon {
  display: inline-block;
  width: .34rem;
  background-size: 100%;
  position: relative;
  vertical-align: bottom;
  top: .13rem;
}

.module-02 .main .content .left .item .txt-group .year,
.module-02 .main .content .right .item .txt-group .year {
  line-height: .41rem;
  height: .41rem;
  font-weight: bold;
  color: #333333;
}

.module-02 .main .content .left .item .txt-group .year .icon {
  height: .41rem;
  background: url("../images/about/module02-icon01.png") no-repeat center center;
}
.module-02 .main .content .right .item .txt-group .year .icon {
  padding-right: .1rem;
  height: .4rem;
  background: url("../images/about/module02-icon02.png") no-repeat center center;
}

.module-02 .main .content .left img,
.module-02 .main .content .left .item .txt-group .para,
.module-02 .main .content .right img,
.module-02 .main .content .right .item .txt-group .para {
  position: relative;
}
.module-02 .main .content .left .item .txt-group .para,
.module-02 .main .content .left .item img {
  right: .25rem;
}
.module-02 .main .content .right .item .txt-group .para,
.module-02 .main .content .right .item img {
  left: .4rem;
}
.module-02 .main .content .left .item img,
.module-02 .main .content .right .item img {
  width: 100%;
  top: .1rem;
}
/* End module 02 area: 橘子情感发展历程 */

/* Start module 03 area: 橘子情感 */
.module-03 .main .bg {
  background: url("../images/about/module03-bg.png") no-repeat center center;
  width: 100%;
  height: 6.57rem;
  background-size: cover;
}
/* End module 03 area: 橘子情感 */

/* Start module 04 area: 橘子动态 */
.module-04 .main .content .top {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #707070;
  padding: 0 .16rem .2rem;
}
.module-04 .main .content .top .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.module-04 .main .content .top .item img {
  width: 3.53rem;
  height: 2.18rem;
}
.module-04 .main .content .top .item img:first-child {
  padding-right: .075rem;
}
.module-04 .main .content .top .item img:last-child {
  padding-left: .075rem;
}
.module-04 .main .content .top .item p {
  padding: .18rem 0;
}
.module-04 .main .content .bottom {
  /*padding: 0 .16rem;*/
  padding-top: .2rem;
}
.module-04 .main .content .bottom .item {
  display: flex;
  justify-content: flex-start;
  padding: .1rem .16rem;
  margin: .18rem 0;
  background: #f6f6f6;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}
.module-04 .main .content .bottom .item.hidden {
  display: none;
}
.module-04 .main .content .bottom .item.more {
  position: relative;
}
.module-04 .main .content .bottom .item.more svg {
  position: absolute;
  bottom: 0;
  right: .2rem;
  padding-bottom: .36rem;
}
.module-04 .main .content .bottom .item img {
  width: 1.9rem;
  height: 1.18rem;
}
.module-04 .main .content .bottom .item .txt-group {
  padding-left: .12rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 5rem;
}
.module-04 .main .content .bottom .item .txt-group a {
  width: 80%;
  font-size: .26rem;
  color: #ed2929;
  line-height: .36rem;
  height: .36rem;
  padding-top: .05rem;
}
/* End module 04 area: 橘子动态 */

/* Start module 05 area: 服务步骤内容 */
.module-05-bg{
  background: url("../images/save-love/servicewen_bg.png") no-repeat center center;
  -webkit-background-size: cover;
  background-size: 7.04rem 100%;
  width: 100%;
  height: 7.67rem;
  margin-top: .3rem;
}
/* End module 05 area: 服务步骤内容 */

/* Start module 06 area: 四大保障 */
.module-06 .main {
  width: 100%;
  height: 9.35rem;
  background: url("../images/about/module06-bg.png") no-repeat center center;
  background-size: cover;
}
.module-06 .main .txt-group {
  width: 3.68rem;
  height: 100%;
  padding-left: .2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.module-06 .main .txt-group .item {
  padding: .1rem;
}
.module-06 .main .txt-group .item:first-child {
  padding-top: .24rem;
}
.module-06 .main .txt-group .item:last-child {
  padding-bottom: .24rem;
}
.module-06 .main .txt-group .item .txt-title {
  font-weight: bold;
}
/* End module 06 area: 四大保障 */

/* Start module 07 area: 合作媒体 */
.module-07 .main .bg {
  background: url("../images/about/module07-bg.png") no-repeat center center;
  width: 6.85rem;
  height: 2.1rem;
  margin: 0 auto;
}
/* Start module 07 area: 合作媒体 */
