/** Start nav list */
.nav-list .icon-txt-group {
    display: flex;
    justify-content: space-around;

    padding-top: .33rem;
    padding-left: .2rem;
    padding-right: .2rem;
}
.nav-list .icon-txt-group .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-list .icon-txt-group .item .icon {
    -webkit-background-size: contain;
    background-size: contain;

    width: 1.58rem;
    height: 1.58rem;
}

.nav-list .icon-txt-group:nth-child(1) .item:nth-child(1) .icon {
    background: url("../images/index/preface-icon-top-01.png") no-repeat center center;
}
.nav-list .icon-txt-group:nth-child(1) .item:nth-child(2) .icon {
    background: url("../images/index/preface-icon-top-02.png") no-repeat center center;
}
.nav-list .icon-txt-group:nth-child(1) .item:nth-child(3) .icon {
    background: url("../images/index/preface-icon-top-03.png") no-repeat center center;
}
.nav-list .icon-txt-group:nth-child(1) .item:nth-child(4) .icon {
    background: url("../images/index/preface-icon-top-04.png") no-repeat center center;
}

.nav-list .icon-txt-group:nth-child(2) .item:nth-child(1) .icon {
    background: url("../images/index/preface-icon-top-01.png") no-repeat center center;
}
.nav-list .icon-txt-group:nth-child(2) .item:nth-child(2) .icon {
    background: url("../images/index/preface-icon-top-02.png") no-repeat center center;
}
.nav-list .icon-txt-group:nth-child(2) .item:nth-child(3) .icon {
    background: url("../images/index/preface-icon-top-03.png") no-repeat center center;
}
.nav-list .icon-txt-group:nth-child(2) .item:nth-child(4) .icon {
    background: url("../images/index/preface-icon-top-04.png") no-repeat center center;
}

.nav-list .icon-txt-group .item p {
    font-size: .28rem;
    line-height: .25rem;
}
/** End nav list */


/** Start module 01 area: introduction*/
.module-01 .title {
    padding-top: .68rem;
}

.module-01 .main {
    background: url("../images/index/module01-bg.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 4.86rem;
}
.module-01 .main p {
    line-height: .4rem;
    padding: 0 .22rem;
    margin: 0 auto;
}
.module-01 .main p:first-child {
    padding-top: .23rem;
    padding-bottom: .39rem;
}
/** End module 01 area: introduction */


/** Start module 02 area */
.module-02 .title {
    padding-top: .56rem;
    padding-bottom: .09rem;
}

.module-02 .main .row {
    display: flex;
    justify-content: center;
    padding: 0 .15rem;
}
.module-02 .main .row img {
    padding: .07rem;
    width: 3.47rem;
    height: 2.13rem;
}
/** End module 02 area */


/** Start footer area */
/*footer .txt-group .item span {*/
    /*display: inline-block;*/
/*}*/
/** End footer area */